body {
  font-family: Hack, monospace;
  background-color: #fbf1c7;
  color: #3c3836;
}

.writing {
  line-height: 180%;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, minmax(400px, 1fr));
  background-color: #fbf1c7;
  padding: 10px;
}

.container-text {
  background-color: #fbf1c7;
  border: 0px solid black;
  padding: 10px;
  font-size: 1.1rem;
  text-align: left;
}

.container-latex {
  background-color: #fbf1c7;
  border: 0px solid black;
  padding: 10px;
  font-size: 1.5rem;
  text-align: right;
  flex-wrap: wrap;
}
